flows.json
[
    {
        "id": "e195bc4fc41f7e35",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "name": "Nhập số đèn",
        "label": "         Số đèn (1–70)",
        "tooltip": "Nhập đèn cần bật ( Không giới hạn) ",
        "group": "a37bc6ea16728bdb",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": true,
        "mode": "number",
        "delay": 0,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "cc702b49a4f030e6"
            ]
        ]
    },
    {
        "id": "cc702b49a4f030e6",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Lưu vào flow",
        "rules": [
            {
                "t": "set",
                "p": "device_num",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 420,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a33bb55a4ff8b5a1",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "Gửi MQTT",
        "group": "a37bc6ea16728bdb",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Bật đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "7114ca96d190bebf"
            ]
        ]
    },
    {
        "id": "7114ca96d190bebf",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "name": "Tạo JSON",
        "func": "let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "ee520d3d2efc4167",
                "4bfd39b34a79db2d",
                "bbb3c014b2e2a32f"
            ]
        ]
    },
    {
        "id": "ee520d3d2efc4167",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "name": "set",
        "topic": "SV_ON21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "d4d29464e556a853",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "name": "Nhập số đèn",
        "label": "         Số đèn (1–70)",
        "tooltip": "Nhập đèn cần tắt",
        "group": "a37bc6ea16728bdb",
        "order": 4,
        "width": 6,
        "height": 2,
        "passthru": true,
        "mode": "number",
        "delay": 0,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "23e809d9d0d641c7"
            ]
        ]
    },
    {
        "id": "23e809d9d0d641c7",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Lưu vào flow",
        "rules": [
            {
                "t": "set",
                "p": "device_num",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 420,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4b6605032728b106",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "Gửi MQTT",
        "group": "a37bc6ea16728bdb",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Tắt đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "9ffd8c502d885165"
            ]
        ]
    },
    {
        "id": "9ffd8c502d885165",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "name": "Tạo JSON",
        "func": "let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "f5270f2a13d6562f",
                "9a445bfe1a10d69e",
                "bbb3c014b2e2a32f"
            ]
        ]
    },
    {
        "id": "f5270f2a13d6562f",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "name": "OFF_GUEST",
        "topic": "SV_OFF21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "cd41a8992a69f7a8",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 830,
        "y": 560,
        "wires": [
            [
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "467873c6577f297c",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "cd41a8992a69f7a8"
            ]
        ]
    },
    {
        "id": "9a445bfe1a10d69e",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 630,
        "y": 480,
        "wires": [
            [
                "467873c6577f297c",
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "f5a944f8a5a713db",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "a37bc6ea16728bdb",
        "name": "Thông báo & Chuyển trang",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:red;\">\n    <p id=\"success-msg\" style=\"display:none;\">✅ Vui lòng thoát sau khi dùng!</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('success-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 15000);\n        } else {\n            document.getElementById('success-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2f76bcdca28c2d4a",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "c895e9a2198c98ef",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "2f76bcdca28c2d4a"
            ]
        ]
    },
    {
        "id": "4bfd39b34a79db2d",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "c895e9a2198c98ef",
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "bbb3c014b2e2a32f",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Điều khiển thành công",
        "name": "Thông báo thành công",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b2bfeb103a0616c",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "Gửi MQTT",
        "group": "5e497d8f50e6c2b1",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Thoát",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 430,
        "y": 740,
        "wires": [
            [
                "a4b59dfee4e7666a"
            ]
        ]
    },
    {
        "id": "a4b59dfee4e7666a",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 640,
        "y": 720,
        "wires": [
            [
                "67712cfd66ac5721",
                "1c5c66c4f01e2b0f"
            ]
        ]
    },
    {
        "id": "67712cfd66ac5721",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 720,
        "wires": [
            [
                "64b4d1920fc579e3"
            ]
        ]
    },
    {
        "id": "64b4d1920fc579e3",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 800,
        "y": 820,
        "wires": [
            [
                "1c5c66c4f01e2b0f"
            ]
        ]
    },
    {
        "id": "1c5c66c4f01e2b0f",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "a37bc6ea16728bdb",
        "name": "Thông báo & Chuyển trang",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "a37bc6ea16728bdb",
        "type": "ui_group",
        "name": "Điều khiển ",
        "tab": "f3de46927529ab11",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37fcf5bfccf8b220",
        "type": "mqtt-broker",
        "name": "APP",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5e497d8f50e6c2b1",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi điều khiển",
        "tab": "f3de46927529ab11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3de46927529ab11",
        "type": "ui_tab",
        "name": "Sinh vien",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
