flows.json
[
    {
        "id": "a26d5d20af5c6be2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95c11e8432e62ddb",
        "type": "group",
        "z": "a26d5d20af5c6be2",
        "name": "Đã đăng kí",
        "style": {
            "fill": "#ff7f7f",
            "label": true
        },
        "nodes": [
            "e195bc4fc41f7e35",
            "cc702b49a4f030e6",
            "a33bb55a4ff8b5a1",
            "7114ca96d190bebf",
            "ee520d3d2efc4167",
            "d4d29464e556a853",
            "23e809d9d0d641c7",
            "4b6605032728b106",
            "9ffd8c502d885165",
            "f5270f2a13d6562f",
            "cd41a8992a69f7a8",
            "467873c6577f297c",
            "9a445bfe1a10d69e",
            "f5a944f8a5a713db",
            "2f76bcdca28c2d4a",
            "c895e9a2198c98ef",
            "4bfd39b34a79db2d",
            "bbb3c014b2e2a32f",
            "3b590e948ed9e709",
            "fc2a31a8d88eb433",
            "84625b7537e9088b",
            "260df5bc51bf776f",
            "53763511fc144e31"
        ],
        "x": 54,
        "y": 159,
        "w": 1032,
        "h": 502
    },
    {
        "id": "8ae63e4ecefe3e73",
        "type": "group",
        "z": "a26d5d20af5c6be2",
        "name": "",
        "style": {
            "fill": "#ffff7f",
            "label": true
        },
        "nodes": [
            "67712cfd66ac5721",
            "9b2bfeb103a0616c",
            "a4b59dfee4e7666a",
            "64b4d1920fc579e3",
            "1c5c66c4f01e2b0f",
            "35a1ec46f94a9eb2",
            "5fe9244ff0019e1e",
            "ui_notify",
            "token_checker",
            "token_valid_checker",
            "check_interval",
            "7e233b7924eb3376",
            "7d18647255f646bf",
            "2cce5e2d0c4247a9",
            "c17c4e9b73498681"
        ],
        "x": 124,
        "y": 699,
        "w": 932,
        "h": 482
    },
    {
        "id": "e195bc4fc41f7e35",
        "type": "ui_text_input",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Nhập số đèn",
        "label": "         Số đèn (1–70)",
        "tooltip": "Nhập đèn cần bật ( Không giới hạn) ",
        "group": "a37bc6ea16728bdb",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": true,
        "mode": "number",
        "delay": 0,
        "topic": "input",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "cc702b49a4f030e6"
            ]
        ]
    },
    {
        "id": "cc702b49a4f030e6",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Lưu vào flow",
        "rules": [
            {
                "t": "set",
                "p": "device_num",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 420,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a33bb55a4ff8b5a1",
        "type": "ui_button",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Gửi MQTT",
        "group": "a37bc6ea16728bdb",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Bật đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "3b590e948ed9e709"
            ]
        ]
    },
    {
        "id": "7114ca96d190bebf",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Tạo JSON",
        "func": "let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "ee520d3d2efc4167",
                "4bfd39b34a79db2d",
                "bbb3c014b2e2a32f",
                "84625b7537e9088b"
            ]
        ]
    },
    {
        "id": "ee520d3d2efc4167",
        "type": "mqtt out",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "set",
        "topic": "SV_ON21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "d4d29464e556a853",
        "type": "ui_text_input",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Nhập số đèn",
        "label": "         Số đèn (1–70)",
        "tooltip": "Nhập đèn cần tắt",
        "group": "a37bc6ea16728bdb",
        "order": 3,
        "width": 6,
        "height": 2,
        "passthru": true,
        "mode": "number",
        "delay": 0,
        "topic": "input",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "23e809d9d0d641c7"
            ]
        ]
    },
    {
        "id": "23e809d9d0d641c7",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Lưu vào flow",
        "rules": [
            {
                "t": "set",
                "p": "device_num",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 420,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4b6605032728b106",
        "type": "ui_button",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Gửi MQTT",
        "group": "a37bc6ea16728bdb",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Tắt đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "fc2a31a8d88eb433"
            ]
        ]
    },
    {
        "id": "9ffd8c502d885165",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Tạo JSON",
        "func": "let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "f5270f2a13d6562f",
                "9a445bfe1a10d69e",
                "bbb3c014b2e2a32f",
                "260df5bc51bf776f"
            ]
        ]
    },
    {
        "id": "f5270f2a13d6562f",
        "type": "mqtt out",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "OFF_GUEST",
        "topic": "APP_OFF21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "cd41a8992a69f7a8",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 830,
        "y": 560,
        "wires": [
            [
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "467873c6577f297c",
        "type": "delay",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "cd41a8992a69f7a8"
            ]
        ]
    },
    {
        "id": "9a445bfe1a10d69e",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 630,
        "y": 480,
        "wires": [
            [
                "467873c6577f297c",
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "f5a944f8a5a713db",
        "type": "ui_template",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "group": "a37bc6ea16728bdb",
        "name": "Thông báo & Chuyển trang",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:red;\">\n    <p id=\"success-msg\" style=\"display:none;\">✅ Vui lòng thoát sau khi dùng!</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('success-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 300000);\n        } else {\n            document.getElementById('success-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2f76bcdca28c2d4a",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "c895e9a2198c98ef",
        "type": "delay",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "2f76bcdca28c2d4a"
            ]
        ]
    },
    {
        "id": "4bfd39b34a79db2d",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "c895e9a2198c98ef",
                "f5a944f8a5a713db"
            ]
        ]
    },
    {
        "id": "bbb3c014b2e2a32f",
        "type": "ui_toast",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Điều khiển thành công",
        "name": "Thông báo thành công",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b2bfeb103a0616c",
        "type": "ui_button",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Gửi MQTT",
        "group": "5e497d8f50e6c2b1",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 240,
        "y": 760,
        "wires": [
            [
                "a4b59dfee4e7666a"
            ]
        ]
    },
    {
        "id": "a4b59dfee4e7666a",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "67712cfd66ac5721",
                "1c5c66c4f01e2b0f"
            ]
        ]
    },
    {
        "id": "67712cfd66ac5721",
        "type": "delay",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "64b4d1920fc579e3"
            ]
        ]
    },
    {
        "id": "64b4d1920fc579e3",
        "type": "change",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 650,
        "y": 820,
        "wires": [
            [
                "1c5c66c4f01e2b0f"
            ]
        ]
    },
    {
        "id": "1c5c66c4f01e2b0f",
        "type": "ui_template",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "group": "a37bc6ea16728bdb",
        "name": "Thông báo & Chuyển trang",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "35a1ec46f94a9eb2",
        "type": "mqtt in",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "MQTT Nhận token",
        "topic": "token/check21146282",
        "qos": "2",
        "datatype": "auto",
        "broker": "37fcf5bfccf8b220",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 980,
        "wires": [
            [
                "5fe9244ff0019e1e",
                "token_checker"
            ]
        ]
    },
    {
        "id": "5fe9244ff0019e1e",
        "type": "debug",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 920,
        "wires": []
    },
    {
        "id": "3b590e948ed9e709",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "7114ca96d190bebf"
            ]
        ]
    },
    {
        "id": "fc2a31a8d88eb433",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 620,
        "wires": [
            [
                "9ffd8c502d885165"
            ]
        ]
    },
    {
        "id": "token_checker",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Kiểm tra token",
        "func": "// Parse token\nconst data = JSON.parse(msg.payload);\n\nconst currentToken = flow.get(\"currentToken\");\nconst tokenTimestamp = flow.get(\"tokenTimestamp\");\nconst now = new Date().getTime();\nconst threeMinutes = 5 * 60 * 1000;\n\nif (data.token) {\n    if (!currentToken || (now - tokenTimestamp > threeMinutes) || data.token !== currentToken) {\n        flow.set(\"currentToken\", data.token);\n        flow.set(\"tokenTimestamp\", now);\n        flow.set(\"allow\", true);\n    } else {\n        flow.set(\"allow\", true);\n    }\n} else {\n    flow.set(\"allow\", false);\n}\n\nreturn null;",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 980,
        "wires": []
    },
    {
        "id": "token_valid_checker",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Kiểm tra hiệu lực",
        "func": "const tokenTimestamp = flow.get(\"tokenTimestamp\") || 0;\nconst now = new Date().getTime();\nconst threeMinutes = 5 * 60 * 1000;\n\nif (now - tokenTimestamp > threeMinutes) {\n    flow.set(\"allow\", false);\n    return { payload: \"Hết quyền truy cập, vui lòng đăng nhập lại\" };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1080,
        "wires": [
            [
                "ui_notify",
                "7e233b7924eb3376"
            ]
        ]
    },
    {
        "id": "check_interval",
        "type": "inject",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Check token mỗi 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "token_valid_checker"
            ]
        ]
    },
    {
        "id": "ui_notify",
        "type": "ui_toast",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Thông báo UI",
        "x": 800,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7e233b7924eb3376",
        "type": "debug",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7d18647255f646bf",
        "type": "inject",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Lặp mỗi giây",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "2cce5e2d0c4247a9"
            ]
        ]
    },
    {
        "id": "2cce5e2d0c4247a9",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "name": "Lấy giờ Việt Nam",
        "func": "let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "c17c4e9b73498681"
            ]
        ]
    },
    {
        "id": "c17c4e9b73498681",
        "type": "ui_text",
        "z": "a26d5d20af5c6be2",
        "g": "8ae63e4ecefe3e73",
        "group": "5e497d8f50e6c2b1",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Hiển thị thời gian",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 750,
        "y": 1140,
        "wires": []
    },
    {
        "id": "84625b7537e9088b",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "reset",
        "func": "let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 380,
        "wires": [
            [
                "e195bc4fc41f7e35"
            ]
        ]
    },
    {
        "id": "260df5bc51bf776f",
        "type": "function",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "name": "reset",
        "func": "let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 580,
        "wires": [
            [
                "d4d29464e556a853"
            ]
        ]
    },
    {
        "id": "ee2daf0403a325bc",
        "type": "ui_ui_control",
        "z": "a26d5d20af5c6be2",
        "name": "",
        "events": "all",
        "x": 1520,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "bf8b7705e49827d0",
        "type": "ui_button",
        "z": "a26d5d20af5c6be2",
        "name": "",
        "group": "5e497d8f50e6c2b1",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Hướng dẫn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Hướng dẫn\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1230,
        "y": 760,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "19264aa1bb38c8bf",
        "type": "ui_button",
        "z": "a26d5d20af5c6be2",
        "name": "",
        "group": "5e497d8f50e6c2b1",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Thiết bị đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Thiết bị\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1230,
        "y": 580,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "0b44bd7f379ac6ce",
        "type": "ui_button",
        "z": "a26d5d20af5c6be2",
        "name": "",
        "group": "5e497d8f50e6c2b1",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Khu vực đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Khu vực\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1450,
        "y": 560,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "53763511fc144e31",
        "type": "ui_template",
        "z": "a26d5d20af5c6be2",
        "g": "95c11e8432e62ddb",
        "group": "5e497d8f50e6c2b1",
        "name": "Title MakerSpace",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  MAKERSPACE\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 950,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "tmpl_guides",
        "type": "ui_template",
        "z": "a26d5d20af5c6be2",
        "group": "group_guides",
        "name": "Trang Hướng dẫn",
        "order": 1,
        "width": 7,
        "height": 18,
        "format": "<style>\n  .guide-box {\n    padding: 20px;\n    font-family: 'Segoe UI', sans-serif;\n    line-height: 1.6;\n    border: 1px solid #ccc;\n    border-radius: 10px;\n    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);\n    background-color: #fdfdfd;\n    margin-bottom: 20px;\n  }\n\n  .guide-box h2 {\n    color: #0066cc;\n    margin-bottom: 10px;\n  }\n\n  .guide-box h3 {\n    margin-top: 20px;\n    color: #444;\n  }\n\n  .guide-box ul {\n    padding-left: 20px;\n  }\n\n  .highlight {\n    color: #c33;\n    font-weight: bold;\n  }\n</style>\n\n<div class=\"guide-box\">\n  <h2>Chào mừng đến với Trung tâm Sáng tạo Khởi nghiệp &amp; Chuyển giao Công nghệ (MakerSpace)</h2>\n  <p>Nơi sinh viên có thể nghiên cứu, học tập và trải nghiệm thực tiễn trong môi trường sáng tạo, hiện đại.</p>\n\n  <h3>1. Đối tượng người dùng</h3>\n  <ul>\n    <li><b>Sinh viên chưa đăng ký</b>: Sinh viên tham quan, học tập.</li>\n    <li><b>Đối tượng đã đăng ký</b>: Nhóm sinh viên, Giảng viên làm việc.</li>\n    <li><b>Bảo mật</b>: Bộ phận quản lý, toàn quyền hệ thống.</li>\n  </ul>\n\n  <h3>2. Tài khoản &amp; Bảo mật</h3>\n  <ul>\n    <li><span class=\"highlight\">Đăng ký tài khoản qua bộ phận quản lý CISAT</span>.</li>\n    <li><b>Sinh viên chưa đăng ký</b>: Điều khiển trực tiếp (1 đèn - 1 giờ).</li>\n    <li><b>Sinh viên đã đăng ký</b>: Không giới hạn đèn <span class=\"highlight\">(Email@student.hcmute.edu.vn)</span>.\n    </li>\n    <li><b>Giảng viên đã đăng ký</b>: Không giới hạn thiết bị <span class=\"highlight\">(Email@hcmute.edu.vn)</span>.</li>\n    <li><b>Admin</b>: Sử dụng email được cấp sẵn.</li>\n    <li>Mật khẩu &ge; 6 ký tự. Quên mật khẩu → liên hệ Admin.</li>\n  </ul>\n\n  <h3>3. Lưu ý khi sử dụng</h3>\n  <ul>\n    <li>Guest có thể xin thêm thời gian sử dụng đèn.</li>\n    <li>Tắt đèn/quạt sau khi dùng (trừ khi tự động).</li>\n    <li>Mọi thắc mắc, liên hệ bộ phận kỹ thuật.</li>\n  </ul>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1270,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a37bc6ea16728bdb",
        "type": "ui_group",
        "name": "Điều khiển ",
        "tab": "f3de46927529ab11",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37fcf5bfccf8b220",
        "type": "mqtt-broker",
        "name": "APP",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5e497d8f50e6c2b1",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi điều khiển",
        "tab": "f3de46927529ab11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_guides",
        "type": "ui_group",
        "name": "Hướng dẫn MakerSpace",
        "tab": "tab_guides",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3de46927529ab11",
        "type": "ui_tab",
        "name": "Sinh viên - Giảng viên",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_guides",
        "type": "ui_tab",
        "name": "Hướng dẫn",
        "icon": "book",
        "order": 2
    }
]
